[Unit]
Description=eldim Data Storage Proxy
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/eldim -c /etc/eldim/eldim.yml
Restart=always
User=eldim

[Install]
WantedBy=multi-user.target